<!DOCTYPE html>
<html> 
 <head>
  <meta charset="UTF-8">
  <title>NFL PICK'EM</title>
  </head>
  <link rel="stylesheet" href="/css/style-2.css">
</head>

<body>
   <header>
    <div class="topnav">
      <a class="" href="/">Home</a>
      <a class="" href= "betting">Bets</a>
      {{!-- <a href="teams">Teams</a> --}}
      <a class="" href="login">Log Out</a>
    </div>
  </header>
<main>
{{{body}}}
</main>
</body>

</html>