<head>
  <meta charset="UTF-8">
  <title></title>
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
  <link rel="stylesheet" href="/css/style-2.css">
</head>

<body>
  <header>
    <div class="topnav">
      <a href="./home.html">Home</a>
      <a href="./betting.html">Bets</a>
      <a href="./teams.html">Teams</a>
      <a href="./landing-page.html">Log Out</a>
    </div>
  </header>
  <main>

  </main>
  </body>

</html>