<!DOCTYPE html>
<html> 
 <head>
  <meta charset="UTF-8">
  <title>NFL PICK'EM</title>
  </head>
  <link rel="stylesheet" href="/css/style-2.css">
</head>

<body>
   <header>
    <div class="topnav">
  <a href= "betting">Bets</a>
      <a class="active" href="login">Login/Log Out</a>
      
      {{!-- {{#if logged_in}}
        <a href="/betting">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}} --}}
  
    </div>
<main>
  {{login}}
{{{body}}}
</main>
 {{!-- {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}
</body>

</html>