      <article id="previous-bets">
        <h1>Previous Bets</h1>
      </article>
      <article id="leaderboard">
        <h1>Leaderboard</h1>
      </article>

      <script src="./js/script.js"></script>